@charset "UTF-8";
/* navigation bar */
.navbar {
	background-color: #000000;
}
.navbar.navbar-inverse {
  border: none;
  border-radius: 0 !important;
  padding: 0px;
  margin-right: -10px;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
}
.navbar.navbar-inverse li a:hover {
	background-color: #696969;
}
.navbar.navbar-inverse li {
	font-size: 1.25em;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.dropdown:hover .dropdown-menu li a:hover {
	background-color: #7F7F7F;
}

/* carousel */
.carousel {
	margin-top: -20px;
}
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

/* body */
body {
	background-color: white;
}

/* Other News Container */
.container {
	padding: 30px;
}
.thumbnail {
	background-color: black;
	text-decoration: none;
	border-radius: 1em;
}
.caption {
	color: white !important;
	text-align: center;
}

/* body container */
.bodyContainer {
	margin-bottom: 20px;
	margin-right: 50px;
	margin-left: 60px;
	margin-top: 20px;
}

/* guilds */
.guildHeader {
	margin-top: -20px;
	margin-bottom: 45px;
	margin-right: -10px;
}
.guildContainer1 {
	margin-left: 35px;
	margin-right: -0.5px;
}
.guildContainer2 {
	margin-left: 35px;
}
.guildPosition img:hover {
	box-shadow: 12px 0 15px -4px #333333, -12px 0 15px -4px #333333;
	cursor: pointer;
}
.guildDR {
	margin-bottom: 45px;	
}
.guildBF {
	margin-bottom: 45px;
}
.guildGtP {
	margin-bottom: 45px;
}
.guildLS {
	margin-bottom: 45px;
}
.guildLST {
	margin-bottom: 45px;
}
.guildLSD {
	margin-bottom: 45px;
}
.guildSCH {
	margin-bottom: 45px;
}
.guildSB {
	margin-bottom: 45px;
}

/* footer */
.footer {
	background: #000000;
	height: auto;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	bottom: 0;
}
.footer p {
	margin: 0;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #f8e63c!important;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer h3 a {
	color: #f8e63c;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #696969;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #FFFFFF;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn {
	background-color: #8da0fc;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
